@import '~/../../../styles/variables';

.dialog-list {
    &__search {
        padding: 0 20px 20px 20px;
            .ant-input {
                background-color: #F7F8F9;
                border: 0;
                height: 38px;
                padding: 4px 11px 6px;
            }
    }

    &__item {
        $item: &;
        display: flex;
        &-avatar {
            position: relative;
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        &--online {
            #{$item}-avatar {
                &::after {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    right: -2px;
                    content: '';
                    background-color: $online-checker-color;
                    border-radius: 30px;
                    width: 13px;
                    height: 13px;
                    border: 3px solid #fff;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex:1;
            &-top {
                display: flex;
                b {
                    font-weight: 500;
                    font-size: 14px;
                    flex: 1;
                    margin-bottom: 6px;
                }
                time {
                    opacity: 0.5;
                }
            }
            &-bottom {
                position: relative;
                
                p {
                    opacity: 0.5;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 220px;
                    height: 1.2em;
                    white-space: nowrap;
                }
                &-amount {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: $amounter_color;
                    color: #fff;
                    font-weight: 500;
                    width: 100%;
                    max-width: 25px;
                    height: 18px;
                    border-radius: 30px;
                    font-size: 11px;
                    text-align: center;
                    line-height: 17px;
                    box-shadow: 0 0 0 3px #fff;
                }
                .message__icon-read {
                    bottom: 0;
                    left: auto;
                    right: 0;
                }
            }
        }
    }   
}