$bubble_blue_color: #3674FF;
$text_bubble_color: #fff;
$another_user_text_color_black: #202020;
$typing_background_color: #E5EDFF;
$typing_circles_backgound_color: #A6BDF0;

$amounter_color: #f46b6b;
$online-checker-color: #00C980;